{% extends 'header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
<div id="mainBody">
	<div class="container">
	<div class="row">

	<div class="span9">
    <ul class="breadcrumb">
		<li><a href="index.html">Home</a> <span class="divider">/</span></li>
		<li class="active">Login</li>
    </ul>
	<h3> Login</h3>
	<h4>
		{% if msg %}
			{{msg}}
		{% endif %}
	</h4>

	<h4>
		{% if msg1 %}
			{{msg1}} <a href="{% url 'activate_status' %}">Activate Now</a>
		{% endif %}
	</h4>
	<hr class="soft"/>
	
	<div class="row">
		<div class="span4">
			<div class="well">
			<h5>CREATE YOUR ACCOUNT</h5><br/>
			Enter your e-mail address to create an account.<br/><br/><br/>
			<form>
			  <div class="control-group">
				<label class="control-label" for="inputEmail0">E-mail address</label>
				<div class="controls">
				  <input class="span3"  type="text" id="inputEmail0" placeholder="Email" name="email">
				</div>
			  </div>
			  <div class="controls">
			  <button type="submit" class="btn block">Create Your Account</button>
			  </div>
			</form>
		</div>
		</div>
		<div class="span1"> &nbsp;</div>
		<div class="span4">
			<div class="well">
			<h5>ALREADY REGISTERED ?</h5>
			<form method="post" action="{% url 'login' %}">
				{% csrf_token %}
			  <div class="control-group">
				<label class="control-label" for="inputEmail1">Email</label>
				<div class="controls">
				  <input class="span3"  type="text" id="inputEmail1" placeholder="Email"name="email">
				  <br>
				  <span id="error_msg" style="color:red;"></span>
				</div>
			  </div>
			  <div class="control-group">
				<label class="control-label" for="inputPassword1">Password</label>
				<div class="controls">
				  <input type="password" class="span3"  id="inputPassword1" placeholder="Password" name="password">
				</div>
			  </div>
			  <div class="control-group">
				<div class="controls">
				  <button type="submit" class="btn">Sign in</button> 
				  <a href="{% url 'forgot_password' %}">Forgot password?</a>
				</div>
			  </div>
			</form>
		</div>
		</div>
	</div>	
	
</div>
</div></div>
</div>
<!-- MainBody End ============================= -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>
	$("#inputEmail1").change(function(){
		var email=$(this).val();
		$.ajax({
        url: '/ajax/validate_email_login/',
        data: {'email': email},
        dataType: 'json',
        success: function (data) {
          if (!data.is_taken) {
            $('#error_msg').html("Email Id Not Registered");
          }
          else{
          	$('#error_msg').html("Email Id Registered");
          }
        }
      });
	});
</script>
</body>
</html>
{% endblock %}